<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Formulario de Usuario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Datos del Usuario</h1>

    <a th:href="@{/}">Volver</a>
    <br>
    <form th:action="@{/guardar}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{idUser}" />

        <br>
        <label>Nombre: </label>
        <input type="text" th:field="*{nameUser}" />
        <span th:if="${#fields.hasErrors('nameUser')}" th:errors="*{nameUser}">Falta nombre</span>
        <br>
        
        <label>Apellido: </label>
        <input type="text" th:field="*{lastnameUser}" />
        <span th:if="${#fields.hasErrors('lastnameUser')}" th:errors="*{lastnameUser}">Falta el apellido</span>
        <br>
        
        <label>Teléfono: </label>
        <input type="tel" th:field="*{phoneUser}" />
        <span th:if="${#fields.hasErrors('phoneUser')}" th:errors="*{phoneUser}">Falta el teléfono</span>
        <br>
        
        <label>Email: </label>
        <input type="text" th:field="*{emailUser}" />
        <span th:if="${#fields.hasErrors('emailUser')}" th:errors="*{emailUser}">Falta el email</span>
        <br>

        <input type="submit" value="Guardar" />
    </form>
</body>
</html>
